---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="AI Statement">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h1
          class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
        >
          AI Statement
        </h1>
        <p
          class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
        >
          Here's our stance on AI and why you won't see any AI-generated content
          on our website.
        </p>
        <article class="format">
          <h2>No AI</h2><p>
            <strong>Everything</strong>&nbsp;on this website is created by
            myself, no output of Large Language Models (LLMs) is used on this
            website.
          </p><h2>Why not?</h2><p>
            There are many reasons for not using AI in my content creation.
          </p><h3>Utility</h3><p>
            In some cases I am sceptic that LLMs will help me achieve&nbsp;<em
              >my</em
            >&nbsp;goals:
          </p><ul>
            <li>
              writing helps me think. Writing itself&nbsp;<em>is</em>&nbsp;the
              point, not the output. Output alone has no value and is
              unnecessary.
            </li><li>
              I'm on the&nbsp;<a
                href="https://indieweb.org/"
                target="_blank"
                style="color: var(--link-color);">indieweb</a
              >&nbsp;to connect, as a human, to other humans.
            </li><li>
              LLM's normalise, which is often uninteresting. There is no need to
              make content that is like everyone else's. My voice, beliefs,
              experience and background are my only chance at at least trying to
              create something novel. Even if I try manually, I'll inevitably
              borrow from other people by accident. Why would I automate or
              accelerate that?
            </li><li>
              <a
                href="https://css-irl.info/debating-the-merits-of-llms/"
                target="_blank"
                style="color: var(--link-color);"
                >LLM's shouldn't invent new information</a>
            </li>
          </ul><h3>Ethics</h3><p>
            But I also avoid LLMs for a number of ethical reasons:
          </p><ul>
            <li>
              <strong>LLM's promote biases</strong>, including those that I want
              to break down, such as sexism, racism, ableism and transphobia.
              They are&nbsp;<a
                href="https://gizmodo.com/chatgpts-political-views-are-shifting-right-a-new-analysis-finds-2000562328"
                target="_blank"
                style="color: var(--link-color);">increasingly anti-woke</a
              >(whatever “woke” means, beyond a lexical tool for hatred). Many
              of the major and popular LLM's are “<a
                href="https://www.baldurbjarnason.com/2025/poisoning-for-propaganda/"
                target="_blank"
                style="color: var(--link-color);"
                >rained and tuned by corporations that are now deeply in bed
                with a lawless authoritarian takeover of the US</a
              >”
            </li><li>
              <strong>stolen content</strong>; the LLM's use of copyrighted
              materials for training is unethical. It comes down to large scale
              theft, from the people actually doing the work. This is inherent,
              as OpenAI&nbsp;<a
                href="https://committees.parliament.uk/writtenevidence/126981/pdf/"
                target="_blank"
                style="color: var(--link-color);">told the UK Parliament</a
              >&nbsp;(“it would be impossible to train today’s leading AI models
              without using copyrighted materials”).
            </li><li>
              <strong>sustainability</strong>: LLM's use of scarce natural
              resources (including raw materials, energy,&nbsp;<a
                href="https://www.ft.com/content/65fff689-bd47-4c15-bdb8-083e5ccd84dc"
                target="_blank"
                style="color: var(--link-color);">water</a
              >) is a major risk for our collective ability to inhabit the
              earth.
            </li><li>
              <a
                href="https://www.miriamsuzanne.com/2025/02/12/tech-ai-wtf/"
                target="_blank"
                style="color: var(--link-color);">I don't like eugenics</a
              >.
            </li>
          </ul>
        </article>
      </div>
    </section>
  </main>
</MainLayout>
