---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="AI Statement">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h1
          class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
        >
          AI Statement
        </h1>
        <p
          class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
        >
          Here's our stance on AI and why we don't use it in our publishing.
        </p>
        <article class="format">
          <h2>No AI</h2><p>
            <strong>All of the written content</strong>&nbsp;on this website was
            either written entirely by humans, or in some cases, edited by
            humans from existing text.</p>
            <p>No output of Large Language Models (LLMs)
            is used on this website to create or process written text or in the generation of photos/images.
          </p><h2>Why not?</h2><p>
            There are many reasons for not using AI in our content creation.
          </p><h3>Utility</h3><p>
            In some cases I am sceptic that LLMs will help me achieve&nbsp;<em
              >my</em
            >&nbsp;goals:
          </p><ul>
            <li>
              We enjoy the process of creating content, from ideation to publishing.
            </li><li>
              The very nature of Giveback is in the promotion of human-to-human connection. Using LLMs betrays that objective. 
            </li><li>
              Content created by LLMs is often noticeably dull and lacks the human touch.
            </li>
          </ul><h3>Ethics</h3><p>
            We also avoid LLMs for a number of ethical reasons:
          </p><ul>
            <li>
              <strong>LLM's often promote biases</strong> such as sexism, racism,
              ableism and transphobia.
            </li><li>
              <strong>LLM's were trained using stolen content.</strong> We consider
              the use of copyrighted materials for training as not just unethical,
              but theft. This is inherent, as OpenAI&nbsp;<a
                href="https://committees.parliament.uk/writtenevidence/126981/pdf/"
                target="_blank"
                style="color: var(--link-color);">told the UK Parliament</a
              >&nbsp;(“it would be impossible to train today’s leading AI models
              without using copyrighted materials”).
            </li><li>
              <strong>Sustainability</strong>: LLM's use of scarce natural
              resources (including raw materials, energy,&nbsp;<a
                href="https://www.ft.com/content/65fff689-bd47-4c15-bdb8-083e5ccd84dc"
                target="_blank"
                style="color: var(--link-color);">water</a
              >) is a major risk for our collective ability to inhabit the
              earth.
            </li>
          </ul>
        </article>
      </div>
    </section>
  </main>
</MainLayout>
