---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="About Giveback">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div
          class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400"
        >
          <h2
            class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"
          >
            We empower travellers to give back to the world
          </h2>
          <p class="mb-4 font-light">
            Giveback is a platform that connects travellers with projects and
            experiences that have a positive impact on people, places and the
            planet. We believe that travel should be a force for good, and we
            are committed to helping travellers make a difference in the
            communities they visit.
          </p>
          <p class="mb-4 font-medium">
            Our mission is to make it easy for travellers to find and support
            projects that align with their values. We do this by providing a
            comprehensive database of projects, experiences and opportunities
            that are verified by our team and our community.
          </p>
        </div>
      </div>
    </section>
    <section class="max-w-screen-xl mx-auto">
      <div class="grid grid-cols-2 gap-2 mx-3">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dnxl7wsnx/image/upload/v1744197198/oslo-fjord-clean-up_yydfap.jpg" alt="A group of paddleboarders help to clean up Oslo Fjord">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dnxl7wsnx/image/upload/v1744197237/santorini-animal-welfare_zduqln.jpg" alt="A gfroup of volunteers help to care for animals in Santorini">
        </div>
    </div>
    </section>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            We're growing fast
          </h2>
          <p class="text-gray-500 sm:text-xl dark:text-gray-400">
            We are a small team of passionate travellers who believe in the
            power of travel to create positive change. We are constantly working
            to improve our platform and expand our database of projects and
            experiences.
          </p>
        </div>
        <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
        >
          <div>
            <div
              class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">
              50+ Countries
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              We have projects and experiences listed in over 50 countries
              around the world. From Argentina to Vietnam, we have something for
              everyone.
            </p>
          </div>
          <div>
            <div
              class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M18.045 3.007 12.31 3a1.965 1.965 0 0 0-1.4.585l-7.33 7.394a2 2 0 0 0 0 2.805l6.573 6.631a1.957 1.957 0 0 0 1.4.585 1.965 1.965 0 0 0 1.4-.585l7.409-7.477A2 2 0 0 0 21 11.479v-5.5a2.972 2.972 0 0 0-2.955-2.972Zm-2.452 6.438a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
                ></path>
              </svg>
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">
              20+ Categories
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              We have projects and experiences listed in over 20 categories,
              including animal care, beach cleans, cultural exchanges,
              performing arts, tours, tree planting and wellbeing.
            </p>
          </div>
          <div>
            <div
              class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">
              100+ Verified Projects
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              We have over 100 verified projects and experiences listed on our
              platform. Each project is verified by our team and our community
              to ensure that it is legitimate and has a positive impact.
            </p>
          </div>
        </div>
      </div>
      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2
              class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
            >
              Meet the team
            </h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">
              We're small, but we're mighty! We built this platform when we
              realised our own travel style was changing. We didn’t just want to
              visit places. We wanted to positively contribute to them.
            </p>
          </div>
          <div class="grid gap-8 grid-cols-2 lg:grid-cols-4">
            <!-- Team Member 1 -->
            <div class="text-center text-gray-500 dark:text-gray-400">
              <img
                class="mx-auto mb-4 w-48 h-48 lg:w-56 lg:h-56 rounded-full"
                src="https://res.cloudinary.com/dnxl7wsnx/image/upload/v1747295511/matt-avatar_lvrazy.jpg"
                alt="Matt"
              />
              <h3
                class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Matt
              </h3>
              <p class="text-sm">CEO/Co-founder</p>
            </div>
            <!-- Team Member 2 -->
            <div class="text-center text-gray-500 dark:text-gray-400">
              <img
                class="mx-auto mb-4 w-48 h-48 lg:w-56 lg:h-56 rounded-full"
                src="https://res.cloudinary.com/dnxl7wsnx/image/upload/v1747295512/jade-avatar_nmyarf.jpg"
                alt="Jade"
              />
              <h3
                class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Jade
              </h3>
              <p class="text-sm">Co-founder</p>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
          <h2
            class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            Frequently asked questions
          </h2>
          <div
            class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2"
          >
            <div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  What kind of projects can be included on Giveback?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  We list all sorts of projects and experiences, provided they
                  have a positive impact of people, places and/or the planet.
                  Our database is split into categories like Animal care/rescue,
                  Beach cleans, Cultural exchanges, Performing arts, Tours, Tree
                  planting and Wellbeing. We even have listing for cafes and
                  restaurants.
                </p>
              </div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  Is it free to list projects on Giveback?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  Yes, it's completely free to list projects on Giveback. We
                  want to make it as easy as possible to give back to
                  destinations all over the world. That's why we don't charge
                  any fees or commissions.
                </p>
              </div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  Do you accept submissions?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  Yes, we accept project submissions from anyone. You could be a
                  project founder, a volunteer, or even a traveller who has had
                  a great experience with a project. We want to hear from you! <a
                    href="/submit"
                    class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
                    >Fill in our Submit form</a
                  > and we'll do the rest.
                </p>
              </div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  Do you verify the projects listed on Giveback?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  We do our best to verify the projects listed on Giveback. We
                  always check the information provided by the project founders
                  and volunteers, and we also encourage users to feedback on the
                  projects they have participated in. We also do our best to
                  visit as many of the projects ourselves as we can.
                </p>
                <p class="text-gray-500 dark:text-gray-400">
                  Find out more information by <a
                    href="#"
                    class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
                    >reading the license</a
                  >.
                </p>
              </div>
            </div>
            <div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  How can I show my support for Giveback?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  The best way of showing your support for Giveback is by
                  joining our mailing list. You can also share our website with
                  your friends and family, and follow us on <a
                    href="https://www.instagram.com/giveback.guide">Instagram</a
                  >. If you want to go a bit extra, we're always grateful to
                  receive tips.
                </p>
              </div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  Do you use AI?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  No. We have a <a
                    href="/about/ai-statement"
                    class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
                    >separate statement on our use of AI</a
                  > which goes into more detail. In short however, we do not use
                  AI to generate any of our written content.
                </p>
              </div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  Are you open to receiving feedback?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  Always! We love hearing from our users and are always looking
                  for ways to improve our platform. If you have any feedback or
                  suggestions, please don't hesitate to reach out to us via our <a
                    href="/contact"
                    class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
                    >contact form</a
                  >.
                </p>
              </div>
              <div class="mb-10">
                <h3
                  class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
                >
                  <svg
                    class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"></path></svg
                  >
                  Can I collaborate with Giveback?
                </h3>
                <p class="text-gray-500 dark:text-gray-400">
                  We are always open to collaboration with like-minded
                  individuals and organisations. If you'd like to pitch a
                  collaboration idea, please reach out to us via our <a
                    href="/contact"
                    class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
                    >contact form</a
                  >.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</MainLayout>
