---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Sustainability at Giveback">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
        >
          How Verification Works
        </h2>
        <div class="format">
          <p>
            We are committed to ensuring that every project listed on our
            platform is genuine, trustworthy and authentic. Our verification
            process is designed to provide you with peace of mind when choosing
            a project to support.
          </p>
          <p>
            There are two types of verification on our website; 'Verified by Us'
            and 'Community Verified'.
          </p>
          <h3 class="text-2xl font-bold mt-4">Verified by Us</h3>
          <p>
            Projects that are marked as 'Verified by Us' have not just been
            thoroughly checked, but they've been visited in person by a member
            of our team.</p>
            <p>While we're there, we'll check that the information on
            the project's website matches the reality of the project on the
            ground. We also take photos and videos to show you what the project
            is really like.</p>
          </p>
          <h3 class="text-2xl font-bold mt-4">Community Verified</h3>
          <p>
            Projects that are marked as 'Community Verified' have been visited
            by our a member of our growing community. They've then shared the
            details of their experience with us.
          </p>
          <p>
            We encourage all users to share their experiences with us, so that
            we can verify the projects listed on our platform. If you have
            visited a project and would like to share your experience, please
            <a href="/verify" class="underline">get in touch with us</a>.
          </p>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
