<div class="p-4 border border-gray-300 rounded-lg text-gray-800 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-800">
  <aside class="text-xs text-gray-500 uppercase mb-1">
Sponsored
  </aside>
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-300">Get a free cafetiere worth £26.95 when you subscribe to Pact Coffee</h3>
    <div class="mt-2 mb-4 text-sm text-gray-800 dark:text-gray-300">
      Experience the very best of speciality coffee. Pact works directly with farmers around the world to bring you an ever changing rotation of speciality coffee whilst ensuring farmers are paid fairly.
    </div>
    <div class="flex">
      <a href=""><button type="button" class="cursor-pointer text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        <svg class="me-2 h-3 w-3 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
          <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
        </svg>
        Find out more
      </button></a>
    </div>
  </div>