---
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE } from "../consts";
---

<MainLayout title={`${SITE_TITLE} Concierge`}>
  <section class="bg-white dark:bg-gray-900">
    <div
      class="text-gray-500 sm:text-lg dark:text-gray-400 gap-8 py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <div class="mt-4 md:mt-0">
        <h1
          class="mb-4 mt-2 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Concierge
        </h1>
        <p class="mb-4 font-light">
          This is {SITE_TITLE} Concierge, a free personalised social impact project
          finder.
        </p>
        <p class="mb-4 font-light">
          In these early stages of {SITE_TITLE}, our database is still growing. We
          therefore don’t have public listings for everywhere in the world.
          Until we do, you can request personalised suggestions to be sent to
          your inbox for free!
        </p>
        <p class="mb-4 font-light">
          Simply complete the form and the concierge will get back to you as
          soon as possible.
        </p>
        <div
          class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            ></path>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Current processing time:</span> 3 days
          </div>
        </div>
        <p class="mb-4 font-light">
          <span class="font-bold">Please note:</span> Not everywhere in the world
          has suitable projects in operation for you to engage in. If we’re unable
          to find any, we’ll still let you know, but please don’t be too disappointed.
        </p>
      </div>
      <div class="mt-4 md:mt-0">
        <iframe
          data-tally-src="https://tally.so/embed/w4NBzk?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
          loading="lazy"
          width="100%"
          height="952"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="Giveback Concierge"></iframe>
        <script is:inline>
          var d = document,
            w = "https://tally.so/widgets/embed.js",
            v = function () {
              "undefined" != typeof Tally
                ? Tally.loadEmbeds()
                : d
                    .querySelectorAll("iframe[data-tally-src]:not([src])")
                    .forEach(function (e) {
                      e.src = e.dataset.tallySrc;
                    });
            };
          if ("undefined" != typeof Tally) v();
          else if (d.querySelector('script[src="' + w + '"]') == null) {
            var s = d.createElement("script");
            (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
          }
        </script>
      </div>
    </div>
  </section></MainLayout
>
