---
import MainLayout from "../layouts/MainLayout.astro";
import HomeHero from "../components/Homepage/HomeHero.astro";
import ServicesHighlight from "../components/Homepage/ServicesHighlight.astro";
import LatestProjects from "../components/Homepage/LatestProjects.astro";
import LatestProducts from "../components/Homepage/LatestProducts.astro";
import LatestServices from "../components/Homepage/LatestServices.astro";
import LatestPosts from "../components/Homepage/LatestPosts.astro";
import ClientTestimonials from "../components/Homepage/ClientTestimonials.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<MainLayout
  title={`${SITE_TITLE} - IT Service & Publications Terpercaya`}
  description={SITE_DESCRIPTION}
>
  <HomeHero />
  <ServicesHighlight />
  <main>
    <LatestServices limit={6} />
    <LatestProjects limit={6} />
    <LatestProducts limit={6} />
    <ClientTestimonials />
    <LatestPosts limit={6} />
  </main>
</MainLayout>
