---
import MainLayout from "../layouts/MainLayout.astro";
import HomeHero from "../components/Homepage/HomeHero.astro";
import LatestProjects from "../components/Homepage/LatestProjects.astro";
import LatestPosts from "../components/Homepage/LatestPosts.astro";
---

<MainLayout title="Giveback - Discover amazing ways to give back to the places you visit">
  <HomeHero />
  <main>
	<LatestProjects limit={6} />
  <section class="bg-gray-100 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">Discover over 200+ more projects</h3>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">Use the search box at the top of every page, or hit the button below to dive into our full collection of projects.</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <a href="/projects" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    View all projects
                </a> 
            </div>
        </div>
    </div>
</section>
<LatestPosts limit={6} />
<section class="bg-gray-100 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md">
          <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">Find more travel guides and advice posts</h3>
          <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">Read our destination guides, our travel tips and advice and our opinion pieces</p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
              <a href="/blog" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                  Head to the blog
              </a> 
          </div>
      </div>
  </div>
</section>
  </main>
</MainLayout>
