---
import MainLayout from '../layouts/MainLayout.astro';
import HomeHero from '../components/HomeHero.astro';
import Search from "astro-pagefind/components/Search";
---

<MainLayout>
	<HomeHero />
	<main>
		<section class="bg-white dark:bg-gray-900">
			<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
				<Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
				<div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
					
				</div>
			</div>
		  </section>
	</main>
</MainLayout>
