---
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE } from "../consts";
---

<MainLayout title="Privacy Policy">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
        >
          Privacy Policy
        </h2>
        <div class="format">
          <p><strong>Your privacy is really important to us.</strong></p>
          <p>
            We know you&rsquo;ve heard this line before, but we really mean it.
          </p>
          <p>
            {SITE_TITLE} operates under its own strict Privacy Policy that is guided
            by both UK and EU (GDPR) law and guidance. We will always seek to
            exceed the requirements from both jurisdictions, in order to
            maintain the highest levels of user privacy that we can reasonably
            maintain.
          </p>
          <p>
            This Privacy Policy details what we do (and what we don&rsquo;t do)
            to protect your privacy whilst you&rsquo;re here on our website. We
            hope it reassures you that we really do take your privacy as
            seriously as we do our own.
          </p>
          <h2>Who we are</h2>
          <p>
            We are {SITE_TITLE}. We are based in the United Kingdom. Our website
            address is https://giveback.guide.
          </p>
          <h2>What personal data we collect and why we collect it</h2>
          <h3>Contact forms</h3>
          <p>
            We use contact forms to enable visitors to get in touch with us. We
            collect the data that is shown in the contact form for the purpose
            of replying to our visitors and for dealing with their enquiries in
            the best possible way. All data provided via contact forms is kept
            private and never shared with third parties.
          </p>
          <h3>Cookies</h3>
          <p>
            Cookies are small text files that are used to store small pieces of information. They are stored on your device when the website is loaded on
            your browser. These cookies help to make the website function
            properly, make it more secure, provide better user experience, and
            understand how the website performs and to analyze what works and
            what doesn&rsquo;t.
          </p>
          <p>
            We currently do not use any cookies on our website.
          </p>
          <p>
            We do not use any cross-site tracking or third-party display ad
            networks on our website.
          </p>
          <p>
            We use Posthog to monitor how visitors use our website. For accurate
            reporting of new and returning visitors, Posthog uses first-party
            cookies to store anonymised data about visitors between visits. We
            also use cookies to remember if someone gave consent to tracking, or
            opted out of tracking. Posthog does not collect or store any personal
            data.
          </p>
          <h3>Embedded content from other websites</h3>
          <p>
            This site may include embedded content (e.g. videos, images,
            articles, etc.). Embedded content from other websites behaves in the
            exact same way as if the visitor has visited the other website.
          </p>
          <p>
            On this website, we may embed content from (but not limited to)
            YouTube and Instagram.
          </p>
          <p>
            These websites may collect data about you, use cookies, embed
            additional third-party tracking, and monitor your interaction with
            that embedded content, including tracking your interaction with the
            embedded content if you have an account and are logged in to that
            website.
          </p>
          <h3>Analytics</h3>
          <p>
            We use Posthog to monitor how visitors use our website so that we can
            see what types of content are doing well and so that we can better
            establish where we can make future improvements. Posthog uses first-party cookies
            to store anonymised data about your tracking preferences.
          </p>
          <p>We do not collect personal data about our visitors.</p>
          <h3>Affiliate links</h3>
          <p>
            We use affiliate networks on our website to create affiliate links.
            Affiliate networks enable us to link to commercial websites who may
            pay us a commission if our visitors buy something or complete an
            action on the respective website.&nbsp;
          </p>
          <p>
            The affiliate network will use cookie and tracking technology to
            monitor how you use the affiliate websites that we link to in order
            to determine whether payment is due to us (as well as for other
            purposes). Since affiliate networks are solely set up to monitor
            traffic in this way, affiliate networks claim that the use of
            tracking and cookies comes under &lsquo;legitimate interest&rsquo;.
          </p>
          <p>
            We encourage visitors to view the privacy policies of external
            websites when they click through to them from our website and to
            review cookie consent boxes.
          </p>
          <h3>Mailing lists</h3>
          <p>
            We collect names and email addresses of visitors who wish to
            subscribe to our email mailing lists. Explicit consent for the
            collection of this personal data is acquired via checkbox or by
            two-step verification. We collect this data so that we can email our
            subscribers with relevant promotional information about our website.
            Subscribers may instantly unsubscribe at any time by clicking the
            relevant link in one of our emails.
          </p>
          <p>
            Subscribers may also manage their profiles via our blog by logging
            in. We operate a password-less system, whereby users verify their
            login via email.
          </p>
          <h2>Who we share your data with</h2>
          <p>
            We may choose to share completely anonymous pooled data from any of
            the above methods about our visitors when approaching potential
            commercial partners. They want to know how our website is doing so
            that they can make an informed decision about whether to partner
            with us.
          </p>
          <p>
            Our analytics platform does not collect any personal information. We
            therefore do not share any personal information with anyone.
          </p>
          <p>
            If you contact us using our contact form, we may share your personal
            information between staff members to better assist you with your
            query. We never share personal data with anyone outside of the
            organisation.
          </p>
          <p>
            Users may request to have their data deleted or altered at any time.
          </p>
          <h2>How long we retain your data</h2>
          <p>
            If you contact us via our contact form, we will securely store any
            information you provide in the contact form indefinitely. This is so
            that we have a record of previous correspondence that we can refer
            back to if required.&nbsp;
          </p>
          <p>
            For users that register on our website (if any), we also securely
            store the personal information they provide in their user profile.
            All users can see, edit, or delete their personal information at any
            time. Website administrators can also see and edit that information.
          </p>
          <p>
            Mailing list data (names and email addresses provided by those who
            have requested to subscribe to our mailing lists) are stored
            indefinitely, up until the user requests for it to be deleted, at
            which point, we will delete it immediately.
          </p>
          <h2>What rights you have over your data</h2>
          <p>
            If you have an account on this site, you can
            request to receive a summary of the personal data we hold about you,
            including any data you have provided to us. You can also request
            that we erase any personal data we hold about you. This does not
            include any data we are obliged to keep for administrative, legal,
            or security purposes.
          </p>
          <p>
            If you want us to erase any correspondence you have sent us, please
            let us know. As above, this does not include any data we are obliged
            to keep for administrative, legal, or security purposes.
          </p>
          <p>
            If you are subscribed to one of our mailing lists, you may request
            to alter or delete your data at any time. This can be done by
            contacting us directly or by clicking the relevant link in an email
            we send you.
          </p>
          <h2>Where we send your data</h2>
          <p>
            Our website, analytics platform and email servers are all hosted in
            the European Union.
          </p>
          <h2>Contact information</h2>
          <p>
            If you have any concerns about your privacy, please&nbsp;<a
              href="https://giveback.guide/contact">contact us</a
            >.
          </p>
          <p><strong>Last updated:</strong> 8 May 2025</p>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
