---
import { SITE_TITLE } from "../consts";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Terms of Service">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
        >
          Terms of Service
        </h2>
        <div class="format">
          <p>
            The following Terms and Conditions (&ldquo;Terms&rdquo;,
            &ldquo;Terms and Conditions&rdquo;) apply to your use of {SITE_TITLE},
            our website at https://giveback.guide. We strongly encourage all
            users of our website to read this page thoroughly.
          </p>
          <p>
            Your access to and use of our website is conditioned on your
            acceptance of and compliance with these Terms. These Terms apply to
            all visitors, users and others who access or use our website.
          </p>
          <p>
            <strong
              >By accessing or using our website, you agree to be bound by these
              Terms &amp; Conditions.</strong
            >&nbsp;If you disagree with any part of the terms, please do not use
            our website.
          </p>
          <h2>Termination</h2>
          <p>
            <strong
              >We may terminate or suspend access to our website immediately,
              without prior notice or liability, for any reason whatsoever,
              including without limitation, if you breach the Terms &amp;
              Conditions.</strong>
          </p>
          <p>
            All provisions of the Terms &amp; Conditions which by their nature
            should survive termination shall survive termination, including,
            without limitation, ownership provisions, warranty disclaimers,
            indemnity and limitations of liability.
          </p>
          <h2>Links To Other Web Sites</h2>
          <p>
            Our website may contain links to third&shy; party websites or
            services that are not owned or controlled by us.
          </p>
          <p>
            <strong
              >We have no control over, and assume no responsibility for, the
              content, privacy policies, or practices of any third party
              websites or services.</strong>
          </p>
          <p>
            You further acknowledge and agree that we&nbsp;shall not be
            responsible or liable, directly or indirectly, for any damage or
            loss caused or alleged to be caused by or in connection with use of
            or reliance on any such content, goods or services available on or
            through any such web sites or services.
          </p>
          <p>
            <strong
              >We strongly advise you to read the terms and conditions and
              privacy policies of any third &shy;party web sites or services
              that you visit.</strong>
          </p>
          <h2>Factual Accuracy</h2>
          <p>
            We endeavor to publish factually accurate information on our
            website. That said, human error and circumstances beyond our control
            can result in inaccuracies being published. We will always seek to
            correct factual errors whenever they are brought to light.&nbsp;
          </p>
          <h2>Declaration of Opinion</h2>
          <p>
            This website contains subjective opinion throughout. We reserve the
            right to express our opinion on this website and assume no
            responsibility for a user&rsquo;s inability to differentiate between
            a subjective opinion and a factual statement.
          </p>
          <h2>Governing Law</h2>
          <p>
            <strong
              >These Terms shall be governed and construed in accordance with
              the laws of the United Kingdom of Great Britain and Northern
              Ireland, without regard to its conflict of law provisions.</strong>
          </p>
          <p>
            Our failure to enforce any right or provision of these Terms will
            not be considered a waiver of those rights. If any provision of
            these Terms is held to be invalid or unenforceable by a court, the
            remaining provisions of these Terms will remain in effect. These
            Terms constitute the entire agreement between us regarding our
            website, and supersede and replace any prior agreements we might
            have between us regarding the website.
          </p>
          <h2>Changes</h2>
          <p>
            <strong
              >We reserve the right, at our sole discretion, to modify or
              replace these Terms &amp; Conditions at any time.&nbsp;</strong>
          </p>
          <p>
            By continuing to access or use our website after those revisions
            become effective, you agree to be bound by the revised terms. If you
            do not agree to the new terms, please stop using our website.
          </p>
          <h2>Contact Us</h2>
          <p>
            If you have any questions or concerns about these Terms,
            please&nbsp;contact us. We&rsquo;ll be happy to help.
          </p>
          <p><strong>Last updated:</strong>&nbsp;15 July 2024</p>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
