---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Confirm your email">
  <main>
    <section class="max-w-screen-xl mx-auto py-16 px-4 lg:py-24 lg:px-6">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-16 mx-3">
        <div
          class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400"
        >
        <h2
            class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"
          >
            Great! Now, confirm your email
          </h2>
          <p class="mb-4 text-gray-500 sm:text-xl dark:text-gray-400">
            To complete your subscription,
            please confirm your email address by clicking the link in the
            confirmation email we sent you.
          </p>
          <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
            <span class="font-medium">Please note:</span> It may take up to 15 minutes for the confirmation email to arrive.
          </div>
          <p class="mb-4 font-light">
            If you don't see the email in your inbox within 15 minutes, please check your spam
            folder. If you still don't see it, please do not resubmit your email. Instead, please <a href="/contact">contact us</a>.
          </p>
        </div>
        <div>
          <h3
            class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"
          >
            While you're waiting...
          </h3>
          <ol class="relative border-s border-gray-200 dark:border-gray-700">
            
            <li class="mb-10 ms-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
              >
                <svg class="w-3.5 h-3.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15h12M6 6h12m-6 12h.01M7 21h10a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1Z"/>
                </svg>
              </span>
              <h3
                class="mb-1 text-lg font-semibold text-gray-900 dark:text-white"
              >
                Follow us on Instagram
              </h3>
              <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                Stay up to date with the latest projects and initiatives by
                following us on Instagram. We share inspiring stories, tips, and
                resources to help you make a difference in the communities you visit.
              </p>
              <a
                href="https://www.instagram.com/giveback.guide/"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                ><svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                </svg>
                 Follow us on Instagram</a
              >
            </li>
            <li class="ms-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
              >
                <svg class="w-3.5 h-3.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 6H5m2 3H5m2 3H5m2 3H5m2 3H5m11-1a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2M7 3h11a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Zm8 7a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                </svg>
                
              </span>
              <h3
                class="mb-1 text-lg font-semibold text-gray-900 dark:text-white"
              >
                Tell your friends & family about us
              </h3>
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                Share our website with your friends and family. The more people
                who know about us, the more impact we can make together. You
                can also share our social media posts and tag us to help spread
                the word.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
