---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");

// Count the number of projects for each country
const tagCounts = posts.reduce((acc: Record<string, number>, post) => {
  const tags = Array.isArray(post.data.properties.bTags)
    ? post.data.properties.bTags
    : [post.data.properties.bTags];

  tags.forEach((tag) => {
    if (tag) {
      acc[tag] = (acc[tag] || 0) + 1;
    }
  });

  return acc;
}, {});

// Extract unique countries and sort alphabetically
const uniqueTags = Object.keys(tagCounts).sort();
---
<button
  id="dropdownDefaultButton"
  data-dropdown-toggle="dropdown"
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  type="button"
  >Categories <svg
    class="w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdown"
  class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700"
>
  <ul
    class="h-60 py-2 overflow-y-auto text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
  >
  {uniqueTags.map((tag) => (
    <li>
      <a
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          href={`/posts/${tag.toLowerCase().replace(/\s+/g, "-")}`}
        >
          {tag} ({tagCounts[tag]})
        </a>
    </li>
  ))}
  </ul>
</div>
