---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SubscribeDrawer from "../components/Popups/SubscribeDrawer.astro";

interface Props {
  title?: string; // Accept the title prop
  description?: string; // Accept the description prop
  image?: string; // Accept the image prop
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
    <!-- Affiliate Tracking Script -->
    <script is:inline src="/src/scripts/affiliateClient.js"></script>
    <SubscribeDrawer />
  </body>
</html>
